---
import Highlighter from "./Highlighter.astro";
---

<article class="space-y-3 text-gray-500 text-sm sm:text-base">
  <p>
    Con más de <Highlighter>3 años</Highlighter> de experiencia en desarrollo, soy un desarrollador
    apasionado, proactivo y adaptable 🚀
  </p>
  <p>
    Impulso buenas <Highlighter>prácticas, colaboración y liderazgo</Highlighter>
     para convertir ideas en soluciones efectivas 🧪
  </p>
  <p>
    Mi sólido conocimiento de las últimas tecnologías y frameworks me mantiene <Highlighter>
      actualizado y motivado
    </Highlighter> para aprender continuamente 🤓
  </p>
  <p>Estoy listo para contribuir a proyectos desafiantes y emocionantes 🏄‍♂️</p>
</article>
