---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Mid Frontend Web Developer",
    company: "Jelou AI",
    description: "Como frontend lead y mano derecha del tech lead superviso el progreso del equipo, brindo apoyo en resolución de problemas y colaborar en la definición de tareas futuras.",
    link: "https://jelou.ai/",
  },
  {
    date: "Enero 2022",
    title: "JR. Frontend Web Developer",
    company: "Jelou AI",
    description:
      "Desarrollo de interfaces de usuario para implementar nuevas ideas y productos en la plataforma. Esta experiencia me permitió aprender la importancia de la atención al cliente y la resolución eficiente de problemas.",
    link: "https://jelou.ai/",
  },
  {
    date: "Diciembre 2021",
    title: "Lead FullStack Web Developer",
    company: "ID for Ideas",
    description: "Lideré un equipo de desarrollo tanto en el frontend como en el backend para llevar a cabo la conceptualización de un proyecto desde su fase inicial hasta la creación de un MVP.",
    link: "https://www.linkedin.com/company/id-for-ideas/",
  },
  {
    date: "Octubre 2021",
    title: "Frontend Developer",
    company: "Freelancer",
    description: "Colaboré estrechamente con un compañero senior en PHP para desarrollar una plataforma de educación estudiantil destinada a niños de 4 a 13 años, en beneficio de una fundación.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
