---
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<section class="flex items-center mt-3 gap-3 text-gray-500">
  <a
    target="_blank"
    href="https://github.com/rsbmk"
    rel="noopener noreferrer"
    class="hover:text-blue-500 cursor-pointer transition-all duration-200 ease-out hover:scale-110"
  >
    <Github />
  </a>
  <a
    target="_blank"
    href="https://www.linkedin.com/in/rsbmk/"
    rel="noopener noreferrer"
    class="hover:text-blue-500 cursor-pointer transition-all duration-200 ease-out hover:scale-110"
  >
    <Linkedin />
  </a>
</section>
