---
import Highlighter from "../Highlighter.astro";
import Time from "./Time.astro";
---

<ol class="relative border-l border-gray-200 space-y-4">
  <Time title="Mid Frontend Web Developer" date="Abril 2023">
    <p class="text-base font-normal text-gray-500">
      Como <Highlighter>frontend lead</Highlighter> y mano derecha del tech lead en uno de los
      equipos más innovadores de la empresa, desempeño un papel esencial en la creación de
      herramientas que optimizan nuestras operaciones clave. Mi trabajo implica supervisar el
      progreso del equipo, <Highlighter>brindar apoyo en resolución de problemas</Highlighter> y
      colaborar en la definición de tareas futuras.
    </p>
    <p class="text-base font-normal text-gray-500">
      Además, asumo un papel técnico al definir la arquitectura de aplicaciones, estándares de
      código y las mejores prácticas de desarrollo. Mantengo una comunicación efectiva tanto con mi
      equipo como con otros departamentos, lo que fomenta la colaboración y nos ayuda a cumplir los
      objetivos de la empresa. También comparto mis conocimientos con nuevos miembros del equipo y
      ofrezco asistencia tanto técnica como a usuarios de nuestra plataforma.
    </p>
    <p class="text-base font-normal text-gray-500">
      En resumen, mi rol es <Highlighter>versátil</Highlighter>, abarcando desde <Highlighter>
        liderazgo y enseñanza
      </Highlighter> hasta resolución de problemas y <Highlighter>
        comunicación eficiente
      </Highlighter>, contribuyendo al éxito de la empresa y el desarrollo de nuestro equipo.
    </p>
  </Time>
  <Time title="JR. Frontend Web Developer" date="Enero 2022">
    <p class="text-base font-normal text-gray-500">
      Mi rol involucró el desarrollo de interfaces de usuario para implementar <Highlighter>
        nuevas ideas y productos
      </Highlighter> en la plataforma, así como brindar soporte directo a los clientes que
      enfrentaban problemas con la plataforma. Esta experiencia me permitió aprender la importancia
      de la atención al cliente y la resolución eficiente de problemas.
    </p>
    <p class="text-base font-normal text-gray-500">
      Además, asumí la responsabilidad de crear el frontend de dos nuevos productos: un backoffice
      para un comercio electrónico y una interfaz de usuario intuitiva para interactuar con reportes
      y bases de datos. Estas implementaciones demostraron mi capacidad para <Highlighter>
        materializar nuevas funcionalidades y mejorar la usabilidad de la plataforma.
      </Highlighter>
    </p>
    <p class="text-base font-normal text-gray-500">
      En mi rol, también fui responsable de abordar y solucionar los problemas y errores reportados
      en la plataforma, lo que requirió habilidades de diagnóstico y <Highlighter>
        resolución de problemas.
      </Highlighter>
       Colaboré estrechamente con equipos de diseño, backend e integraciones para garantizar que
      todos los objetivos se cumplieran de manera efectiva y eficiente.
    </p>
  </Time>
  <Time title="Lead FullStack Web Developer" date="Diciembre 2021">
    <p class="text-base font-normal text-gray-500">
      Lideré un equipo de desarrollo tanto en el frontend como en el backend para llevar a cabo la
      conceptualización de un proyecto desde su fase inicial hasta la creación de un MVP (Producto
      Mínimo Viable) y la posterior prueba en el mercado. Esta experiencia me brindó valiosas
      lecciones en colaboración interdisciplinaria y la aplicación de <Highlighter>
        metodologías ágiles.
      </Highlighter>
    </p>
    <p class="text-base font-normal text-gray-500">
      Trabajar con equipos multidisciplinarios me permitió aprender a colaborar eficazmente con
      profesionales de diferentes áreas, lo que enriqueció el proceso de desarrollo y mejoró la
      calidad del producto final. Además, asumí un rol de <Highlighter>mentorización</Highlighter>,
      compartiendo mis conocimientos y ayudando al crecimiento de mis compañeros de equipo.
    </p>
    <p class="text-base font-normal text-gray-500">
      Además de liderar, también adquirí habilidades en la <Highlighter>
        estimación, medición y priorización
      </Highlighter> de tareas, lo que resultó fundamental para mantener el proyecto en el camino
      correcto y alcanzar los objetivos establecidos. Esta experiencia me ha convertido en un
      desarrollador más completo, capaz de liderar equipos y mejorar continuamente la calidad de los
      productos que desarrollo.
    </p>
  </Time>
  <Time title="Frontend Developer" date="Octubre 2021">
    <p class="text-base font-normal text-gray-500">
      Colaboré estrechamente con un compañero senior en PHP para desarrollar una plataforma de
      educación estudiantil destinada a niños de 4 a 13 años, en beneficio de una fundación. A pesar
      de ser un equipo de solo dos personas, este proyecto me proporcionó una valiosa experiencia en


      <Highlighter>trabajo en equipo</Highlighter>, subrayando la importancia de la comunicación y
      la sincronización con mi compañero.
    </p>
    <p class="text-base font-normal text-gray-500">
      Mi enfoque se centró en el desarrollo del frontend, donde diseñé y construí diversas
      funcionalidades destinadas a servir a diferentes tipos de usuarios en la plataforma. Esta
      experiencia me enseñó la importancia de la <Highlighter>experiencia del usuario</Highlighter>,
      así como la necesidad de abordar las necesidades y expectativas de manera efectiva para
      garantizar un producto final de alta calidad.
    </p>
    <p class="text-base font-normal text-gray-500">
      Este proyecto no solo destaca mi capacidad para trabajar en equipo y colaborar con
      desarrolladores experimentados, sino también mi habilidad para crear soluciones que satisfacen
      las necesidades de múltiples usuarios mientras se mantiene un enfoque en la experiencia del
      usuario.
    </p>
  </Time>
  <Time title="FullStack Web Developer" date="Febrero 2021">
    <p class="text-base font-normal text-gray-500">
      En un plazo ajustado y con limitada experiencia, <Highlighter>
        logré satisfacer las necesidades del cliente
      </Highlighter>
       al desarrollar un sistema de contabilidad personalizado. Este proyecto me brindó la
      oportunidad de <Highlighter>aprender a ser autónomo y resolver</Highlighter> los desafíos que
      surgieron en el camino, lo que me permitió crecer como desarrollador.
    </p>
    <p class="text-base font-normal text-gray-500">
      Establecí una comunicación efectiva con el cliente para comprender a fondo sus requisitos y,
      como resultado, entregué un sistema que registra y gestiona los ingresos y gastos diarios,
      generando informes mensuales. Además, implementé un sistema de agendamiento para atender las
      necesidades de los clientes.
    </p>
    <p class="text-base font-normal text-gray-500">
      Este proyecto ilustra mi capacidad para <Highlighter>
        adaptarme, aprender rápidamente y ofrecer soluciones efectivas,
      </Highlighter> además de mi habilidad para mantener una comunicación cercana con los clientes
      para garantizar que sus expectativas se cumplan de manera satisfactoria.
    </p>
  </Time>
</ol>
